.call {
  background: $Bg-section;
  padding: 64px 0 56px;
  &-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  &-text {
    text-align: center;
  }
}
/* form */
.form__call {
  display: flex;
  gap: 24px;
}
.form__call-name,
.form__call-email {
  width: 240px;
  height: 50px;
  background: $Bg-input-text;
  border: none;
  padding: 16px 0 16px 12px;
}
.form__call-btn {
  @include btnBlue();
}
